@import url(https://bootswatch.com/slate/bootstrap.min.css);

body {
    margin: 25px;
    color: white;
}

.jumbotron {
    margin: 0px;
    border-radius: 5px;
    background-position-x: 0px;
    background-position-y: 0px;
    background-image: url(/Users/neuernutzer/Desktop/utw/homework4/jumbopic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: white 50.0em 50.0em 50.0em;
}

#row-navbar {
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

#About-me-flex {
    display: flex;
    justify-content: center;
}

#About-me-lay {
    margin: 0px;
    background-color: grey;
    border-radius: 5px;
    border-color: grey;
}

#Joe-pic {
    max-width: 100%;
    border-radius: 5px;
}

#Experience-flex {
    display: flex;
    justify-content: center;   
}

#Experience-lay {
    margin: 0px;
    border-radius: 5px;
    border: 2px solid grey;
}

#Work-School {
    display: flex;
    justify-content: space-between;
}

#Skills-flex {
    display: flex;
    justify-content: center;
}

#Skills-lay {
    margin: 0px;
    background-color: grey;
    border-radius: 5px;
    border-color: grey;
}