@import url(https://bootswatch.com/slate/bootstrap.min.css);

body {
    margin: 25px
}

.jumbotron {
    margin-bottom: 0px;
    background-position-x: -25px;
    background-position-y: 0px;
    background-image: url(/Users/neuernutzer/Desktop/utw/homework4/jumbo-pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: white 25.0em 25.0em 25.0em;
}